@import "tailwindcss/base";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    @apply bg-zinc-800 text-slate-50
}

*:focus {
    @apply outline-none bg-zinc-700
}

input, select {
    @apply p-1 font-normal border-b border-zinc-600
}

a {
    @apply text-sky-500
}

a:hover {
    @apply cursor-pointer
}

form {
    @apply w-full space-y-2
}

form * {
    @apply w-full
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0 1000px rgb(39 39 42) inset;
    color: white;
}

.button {
    @apply border rounded py-1 px-2 text-center;
}

.button-primary {
    @apply border-teal-500 text-teal-500
}

.button-warning {
    @apply border-yellow-500 text-yellow-500
}

.button-danger {
    @apply border-red-500 text-red-500
}

.button-secondary {
    @apply border-gray-400 text-gray-400
}

.button-info {
    @apply border-sky-500 text-sky-500
}

button:disabled {
    @apply button-secondary
}